@charset "UTF-8";

main{
    width: 90%;
    height: auto;

    margin: auto;

    margin-bottom: 0%;

    overflow: hidden; 

    background: black url("../assents/imagens/imagens-desktop/background-pergam-desktop.png") no-repeat center center;
    background-size: 100% 100%;

    justify-content: center;
    align-items: center;
}

#bem_vindo_psi_imagem{
    padding-top: 10%;

    text-align: center;
}

main figure{

    border-radius: 10%;
    overflow: hidden; 

    margin: auto;

    justify-content: center;
    align-items: center;
    object-fit: cover;
    
}

main section{
    width: 100%;
    height: 30%; 

    align-items: center;
    justify-content: center;
}

main article{
    width: 40%;
    height: 100%;

    margin: 0% 2% 0% 2%;

    font-size: 2em;

}

.paragrafo-tela-inicial{
    display: flex;

    width: 100%;
    height: 20%;


    margin-left: 0%;

    align-self: center;

}

#segunda_versao_paragr{
    margin-left: 5%;

}

.imagem_tela_inici{
    width: 50%;
    height: 30em;

    margin: 0em .5em 0em .5em;

    display: flex;
    object-fit: cover;
    object-fit: contain;
    
}

 main button{
   width: 25%;
   height: 15%;
   border-radius: 12%;

   background-color: #A12AB1;

   margin-top: 5em;
   margin-left: auto; 

   display: block;  

   border-color: #A12AB1;
}

main a{
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    color: white;
}

#btn_direita{
    margin-left: auto; 
}

#btn_esquerda{
    margin-right: 100%; 
    
}

#ultimo-paragrafo_tela_inicial{
    padding-bottom: 15%;    
}


@media (max-width: 768px){
    main{
        background: black url("../assents/imagens/imagens-mobile/background-pergam-mobile.png") no-repeat center center ; 
        background-size: 100% 100%;
    }

    p {
        font-size: 0.5em;
    }

    #bem_vindo_psi_imagem{
        content: url("../assents/imagens/imagens-mobile/bem_vindo_ao_psi_mobile.png");
        padding-top: 0%;

        text-align: center;
    
    }

    .imagem_tela_inici{
        height: 20em;   
    }

    #imagem_tela_inicial_1{
        content: url("../assents/imagens/imagens-mobile/imagem_tela_inicial_1_mobile.jpg");
    }

    #imagem_tela_inicial_2{
        content: url("../assents/imagens/imagens-mobile/imagem_tela_inicial_2_mobile.png");
    }

    #imagem_tela_inicial_3{
        content: url("../assents/imagens/imagens-mobile/imagem-tela-inicial-3_mobile.png");
    }
}


@media screen and (max-width: 992px) and (min-width: 768px){
    main{
        background: black url("../assents/imagens/imagens-tablet/background-pergam-tablet.png") no-repeat center center ; 
        background-size: 100% 100%;
    }

    p {
        font-size: .8em;
    }

    #bem_vindo_ao_psi_responsivo{
        content: url("../assents/imagens/imagens-tablet/bem_vindo_ao_psi_tablet.png");
    }

    .imagem_tela_inici{
        height: 20em;   
    }

    #imagem_tela_inicial_1{
        content: url("../assents/imagens/imagens-tablet/imagem_tela_inicial_1_tablet.jpg");
    }

    #imagem_tela_inicial_2{
        content: url("../assents/imagens/imagens-tablet/imagem_tela_inicial_2_tablet.png");
    }

    #imagem_tela_inicial_3{
        content: url("../assents/imagens/imagens-tablet/imagem-tela-inicial-3_tablet.png");
    }

}





