@charset "UTF-8";

main{
    width: 90%;
    height: 2460px;

    margin: auto;

    background: black url("../assents/imagens/imagens-desktop/background-pergam-desktop.png") no-repeat  top right;
    background-size: 100%;
}

#bem_vindo_psi_imagem{
    padding-top: 6em;

    text-align: center;
}

main figure{
    border-radius: 30%;
}

main article{

    width: 40%;
    height: 100%;

    margin: 0% 2% 0% 2%;

    font-size: 1.5em;

}

.paragrafo-tela-inicial{
    display: flex;

    width: 100%;
    height: 20%;

    margin-bottom: 5%;

    margin-left: 0%;

    align-self: center;

}

#segunda_versao_paragr{
    margin-left: 12%;

}

.imagem_tela_inici{
    width: 40%;
    height: 100%;

    margin: 0em .5em 0em .5em;

    display: flex;
    
}

 main button{
   width: 25%;
   height: 15%;
   border-radius: 12%;

   background-color: #A12AB1;

   margin-top: 5em;
   margin-left: auto; 

   display: block;  

   border-color: #A12AB1;
}

main a{
    font-size: 1.5em;
    text-decoration: none;
    text-align: center;
    color: white;
}

#btn_direita{
    margin-left: auto; 
}

#btn_esquerda{
    margin-right: 100%; 
    
}





