@charset "UTF-8";

main{
    width: 100vw;
    min-height: 100vh;
    margin: auto;

    overflow: hidden;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    width: 90%;
    height: auto;
    border-radius: 10px;

    background-color: #EEC986;

    overflow: hidden;

    margin: 5%;
}

#conteiner_ficha_geral{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    padding: 3% 0% 3% 0%;

    flex-direction: row;
}

#conteiner_ficha_geral figure{
    object-fit: cover;
    overflow: hidden;
}

#conteiner_ficha_geral img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    overflow: hidden;
}

#conteiner_ficha_geral p{
    font-size: 1.3em;
    color: #7e471a;
    font-weight: bold;
}

#ficha_geral{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin-right: auto;
    
}

#ficha_geral_topo{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: row;
}


.conteiner_atributo{
    width: 25%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin: 0% 5% 0% 5%;
}

.atributo{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin: 10% 0% 10% 0%;
}


#agente_perfil{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;
}

#nome_jogador{
    margin-top: 5%;
}

#ficha_geral_base{
    width: 100%;
    height: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: row;

    margin-top: 8%;
}

.habilidade{
    width: 35%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin: 2% 3% 2% 3%;
}


#ficha_info{
    width: 50%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin: 1% 0% auto 0%;
}

#ficha_info_menu{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;

    overflow: hidden;

    
}

#menu_botao_desktop{
    width: 100%;
    height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;
}

#ficha_info button{
    width: 20%;
    height: 4em;

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: row;


    background-color: #7E471A;

    border-radius: 10px;
    margin-left: 1%;
    margin-top: auto;

    font-size: .8em;
    color: white;

    object-fit: cover;
    overflow: hidden;

    word-wrap:break-word;
}


#menu_select{
    display: none;
}

#conteudo{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;

    margin: 3% 0% auto 0%;
}

#descricao_conteudo{
    width: 85%;
    height: auto;

    display: flex;
    justify-content: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;
}

#bloco_info{
    width: 100%;
    height: auto;

    overflow: hidden;
    object-fit: cover;

}

.bloco_info h2{
    font-size: 1.3em;
    color: #7E471A;
    margin-left: 2%;
}

.bloco_info textarea{
    width: 100%;
    height: 7em;

    text-indent: 1%;
    padding: 1%;
    resize: none;

    border-radius: 10px;
}

#tracos_espec_conteudo{
    width: 85%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    object-fit: cover;

    flex-direction: column;
}

#tracos_espec_conteudo h2{
    font-size: 1.2em;
    color: #7E471A;

    margin-top: 5%;
}

#tracos_espec_conteudo figure{
    width: 50%;
    height: 2em;

    margin: 0% 0% 2% 0%;
}

#tracos_espec_conteudo p{
    font-size: 1.1em;
}

#tracos_espec_conteudo textarea{
    width: 100%;
    height: 7em;

    text-indent: 1%;
    padding: 1%;
    resize: none;

    border-radius: 10px;
}

#lista_dobras{
    width: 95%;
    height: 80vh;

    display: flex;
    justify-content: flex-start; 
    align-items: center; 

    flex-direction: column;

    overflow-x: hidden; 
    overflow-y: auto;  

    border: #7E471A solid 2px;
    border-radius: 10px;
}

.conteiner_dobra{
    width: 90%;

    display: flex;
    flex-direction: column;

    padding: 1%;

    border: #7E471A solid 2px;
    border-radius: 10px;

    border-bottom: 3%;

    margin: 2% 0% 2% 0% ;

}

.dobra{
    width: 100%;

    display: flex;
    flex-direction: column;

    padding: 1%;
}

.nome_dobra{
    width: 100%;
    height: 50%;
    margin-left: 2%;
}

.rodape_dobra{
    width: 100%;
    height: 50%;

    display: flex;
    
    text-align: right;

    flex-direction: row;

    margin-bottom: 3%;
}

.rodape_dobra p{
    margin-left: 2%;
}

.area_button{
    width: 100%;

    display: flex;
    justify-content: flex-end;
}


.descricao_oculta{
    width: 100%;
    
    display: none;
    
    text-align: left;

    flex-direction: column;

    padding: 1%;

    border: #7E471A solid 2px;
    border-radius: 10px;

    margin-top: 2%
    

}

.descricao_oculta textarea{
    width: 100%;
    height: 8em;

    text-indent: 1%;
    padding: 1%;
    resize: none;

    border-radius: 10px;
}

.area_button_cria{
    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 2%;

}

.area_button_cria a{
   color: white;

   text-decoration: none;

}



#inventario{
    width: 100%;
    height: 100vh;

    width: 95%;
    height: 80vh;

    display: flex;
    justify-content: center; 
    align-items: center; 

    flex-direction: column; 

    border: #7E471A solid 2px;
    border-radius: 10px;
}

#inventario textarea{
    width: 95%;
    height: 95%;

    resize: none;

    border: #7E471A solid 2px;
    border-radius: 10px;

    text-indent: 1%;
    padding: 1%;
    resize: none;

    margin: 1% 0% 3% 0%;
}


@media (max-width: 768px){
    #conteiner_ficha_geral{
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        overflow: hidden;
        object-fit: cover;
    
        padding: 3% 0% 3% 0%;
    
        flex-direction: column;
    }

    .moldura-chique{
        content: url("../assents/imagens/imagens-mobile/moldura-chique.png");
    }

    #ficha_geral{
        width: 100%;
        height: 50%; 
    }

    #ficha_info{
        width: 100%;
        height: 50%;
    }

    #menu_botao_desktop{
        display: none;
    }

    #menu_select{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 3% 0% 1% 0%;
    }

    #menu_select select{
        width: 80%;
        height: 3em;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        border: #7E471A solid 2px;
    }
}



@media (min-width: 768px) and (max-width: 992px){
    #conteiner_ficha_geral{
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        overflow: hidden;
        object-fit: cover;
    
        padding: 3% 0% 3% 0%;
    
        flex-direction: column;
    }

    #ficha_geral{
        width: 100%;
        height: 50%; 
    }

    #ficha_info{
        width: 100%;
        height: 50%;
    }

    #menu_botao_desktop{
        display: none;
    }

    #menu_select{
        width: 100%;
        height: auto;

        display: flex;
        justify-content: center;
        align-items: center;

        margin: 3% 0% 1% 0%;
    }

    #menu_select select{
        width: 80%;
        height: 3em;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: 10px;
        border: #7E471A solid 2px;
    }
}