@charset "UTF-8";

main{
    width: 100vw;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: auto;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 70%;
    height: auto;
    
    background: radial-gradient(closest-side,#7D3686,#662C6E,#502356, #512357);

    margin: 5% auto;

    padding: 2%;

    border-radius: 10px;
    
    
}



.logo_psi_registro{
    width: 30%;
    height: auto;
    display: flex;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_psi_registro img{
    
   object-fit: cover;
}

.linha_personizada_desktop{
    width: 100%;
    height: 3em;
    margin: .1% 0% .1% 0%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.linha_personizada_tablet{
    width: 100%;
    height: 3em;
    margin: .5% 0% .5% 0%;

    display: none;
    justify-content: center;
    align-items: center;
}

article{
    width: 90%;
    height: auto;
    
}

#introducao_info_basi{
    color: white;
    font-size: 1.3em;
    text-align: center;
}

#formul_infor_bas{
    width: 100%;
    display: flex;

    justify-content: center;
    align-items: center;

    margin: 2% 0% 2% 0%;
}

#formul_infor_bas{
    list-style: none;
}

#formul_infor_bas p{
    color: white;
    text-indent: 0.5em;
}

#formul_infor_bas li{
    width: 90%;
}

#formul_infor_bas input{
    width: 100%;
    height: auto;
    min-height: 3.5em;

    border-radius: 10px;
    margin-bottom: 2%;

    text-indent: 0.5em;
}

#formul_infor_bas textarea{
    width: 100%;
    height: auto;
    min-height: 8em;
    resize: none; 

    border-radius: 10px;
    margin-bottom: 2%;
    padding: .5em;

    text-indent: 0.5em;
}

#naveg_cria_ficha{
    width: 100%;

    display: flex;
    flex-direction: row;
}

.button_padrao{
   width: 9em;
   height: 4em;
   border-radius: 10px;

   margin-top: 3%;

   background-color: #A12AB1;

   display: flex;  
   align-items: center;
   justify-content: center;

   border-color: #A12AB1;
}

.button_padrao:hover{
    width: 9.2em;
    height: 4.1em;
 }


.button_padrao a{
    color: white;
    text-decoration: none;
    
    font-size: 1.2em;
}

.button_padrao img{
    margin: 0% 1% 0% 1%;
}


#button_criar_agent{
    margin: auto;
}

#button_direita{
   margin-right: auto;
   margin-left: 2%;
}

#button_direita a{
    margin-right: auto;
    margin-left: 2%;
 }

#button_esquerda{
   margin-left: auto;
   margin-right: 2%;
}

#seta_direita{
    margin-right: auto;
    margin-left: 2%;
}

#seta_esquerda{
    margin-left: auto;
    margin-right: 2%;
}



@media (max-width: 768px){

    main{
        width: 100vw;   
        min-height: 100vh;
    }   

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 90%;
        height: auto;
        
        background: radial-gradient(closest-side,#7D3686,#662C6E,#502356, #512357);
    
        margin: 5% auto;
    
        padding: 2%;
    
        border-radius: 10px;

        overflow: hidden;
    }

    .logo_psi_registro{
        width: 13%;
        display: flex;

        content: url("../assents/imagens/imagens-tablet/psi_tela_cadastro_tablet.png");
    }


    .linha_personizada_desktop{
        display: flex;
    }


    .button_padrao{
        width: 8em;
        height: 4em;
        border-radius: 10px;
     
        margin-top: 3%;
     
        background-color: #A12AB1;
     
        display: flex;  
        align-items: center;
        justify-content: center;
     
        border-color: #A12AB1;
     }
     
     .button_padrao:hover{
         width: 8.2em;
         height: 4.1em;
      }

      .button_padrao a{
        font-size: 1.2em;
    }

}

@media (min-width: 768px) and (max-width: 992px){

    main{
        flex-direction: column;
        width: 100%;
        margin: 1% auto;
    }
    
    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 90%;
        height: auto;
        
        background: radial-gradient(closest-side,#7D3686,#662C6E,#502356, #512357);
    
        margin: 5% auto;
    
        padding: 2%;
    
        border-radius: 10px;
    }


    .logo_psi_registro{
        width: 14%;
        height: 0%;
        display: flex;


        content: url("../assents/imagens/imagens-tablet/psi_tela_cadastro_tablet.png");
    }

    .linha_personizada_desktop{
        display: flex;
    }

    .button_padrao{
        width: 50%;
        height: 3.5em;
        border-radius: 10px;
     
        background-color: #A12AB1;

        margin-top: 5%;
        margin-left: auto;
        margin-right: 2%;

        display: flex;  
        align-items: center;
        justify-content: center;
     
        border-color: #A12AB1;
     }


     
     .agente a{
         color: white;
         text-decoration: none;
         
     }
     
     .button_padrao:hover{
        width: 51%;
        height: 3.6em;
     }


     .button_padrao{
        width: 8em;
        height: 4em;
        border-radius: 10px;
     
        margin-top: 3%;
     
        background-color: #A12AB1;
     
        display: flex;  
        align-items: center;
        justify-content: center;
     
        border-color: #A12AB1;
     }
     
     .button_padrao:hover{
         width: 8.2em;
         height: 4.1em;
      }

      .button_padrao a{
        font-size: 1.1em;
    }
 
}